* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider-container {
    max-width: 1168px;
    margin: 0px auto;
}

.sliders {
    padding: 10px;
    overflow-x: hidden;
}

.slider {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    width: 100%;
}

.slider .slide-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #C7E2F5;
    width: 369px !important;
    height: 280px;
    gap: 10px;
    padding: 10px;
    box-shadow: 1px 10px 67px -71px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 10px 67px -71px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 10px 67px -71px rgba(0, 0, 0, 0.75);
}

.slider-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BEBEBE;
    padding-bottom: 10px;
}

.slider-card-and-title-group {
    display: flex;
    gap: 10px;
}

.slider-card-image {
    width: 50px;
    height: 50px;
}

.slider-card-image img {
    width: 100%;
}

.slider-card-title {
    font-size: 20px;
    font-weight: 400;
}

.icons-group i {
    font-size: 14px;
}

.slidercard-social-icon {
    width: 40px;
    height: 40px;
}

.slidercard-social-icon img {
    width: 100%;
    padding: 5px;
}

.dot-and-next-prev-button-group {
    width: 50%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 20px;
}

.dot-and-next-prev-button-group .dot-group {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;

}

.dot-and-next-prev-button-group .dot-group .active {
    background-color: #0071BD !important;
}

.dot-and-next-prev-button-group .dot {
    background-color: #CBCBCB;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot-and-next-prev-button-group .dot-group .active::before {
    position: absolute;
    border: 1px solid #0071BD !important;
}

.dot-and-next-prev-button-group .dot-group .dot::before {
    content: "";
    position: absolute;
    top: 32px;
    width: 20px;
    height: 20px;
    border: 1px solid #CBCBCB;
    border-radius: 100%;
}

.next-prev-button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.next-prev-button-group button {
    border: none;
    width: 45px;
    height: 45px;
    font-size: 18px;
}

.next-prev-button-group .next {
    color: white;
    background-color: #0071BD;
}

.next-prev-button-group .prev {
    color: white;
    background-color: #222020;
}